<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
{{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dolor labore hic rem quasi beatae accusantium quidem earum quisquam! Eius doloremque pariatur ipsa reiciendis voluptatibus ea delectus nam inventore soluta?</p> --}}
{{>footer}}

</body>
</html>